{% extends 'base.html' %}

{% block head %}
<title>Seach with SQL</title>
{% endblock %}

{% block body %}
<h1 class="headline">Search SPAC Library</h1>

<center>
    <div class="content">
        <form method="POST">
            <div  name="query_condition"  id="query_condition"></div>
            <select name="query_column" id="query_column">
                {% for option in options %}
                <option value={{option[0]}} SELECTED>{{option[1]}}</option>"
                {% endfor %}
            </select>

            <select name="query_operator" id="query_operator">
                <option value="like">Like</option>
                <option value="==">=</option>
                <option value="!=">!=</option>
                <option value="<"><</option>
                <option value="<=>"><=</option>
                <option value=">=">>=</option>
                <option value=">">></option>
            </select>

            <input type="text" name="query_value" id="query_value">
            <input type="submit" value="Search">
        </form>
    </div>
</center>


{% endblock %}
